.about-intro {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 17rem 6rem 10rem;
    border-radius: 4rem 4rem 40rem 4rem;
    background: linear-gradient(150.6deg, #34C47F 17.12%, #3FCC88 82.24%);
    color: white;
  }

  &__text-box {
    width: 61rem;
  }

  &__title {
    margin-bottom: 3rem;
    font-family: $despair;
    font-weight: 700;
    font-size: 7.3rem;
    line-height: 7.5rem;
  }

  &__text {
    width: 51rem;
    margin-bottom: 4rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  &__img-box {
    position: relative;
    display: block;
    width: 72rem;
    height: 50rem;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      background: linear-gradient(150.6deg, #34C47F 17.12%, #3FCC88 82.24%);
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    > svg {
      position: absolute;
      z-index: -1;
    }
  }

  &__video-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.6rem;
    height: 9.6rem;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: white;
    box-shadow: 0.5rem 0.6rem 3.7rem 0 rgba(0, 0, 0, 0.1);
    transition: transform .3s ease;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 8.4rem;
      height: 8.4rem;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      background: linear-gradient(150.6deg, #34C47F 17.12%, #3FCC88 82.24%);
      box-shadow: 0.4rem 0.6rem 1.3rem 0 #88D1B780;
    }

    > svg {
      z-index: 3;
      width: 1.4rem;
      height: 2.3rem;

      path {
        fill: white;
      }
    }

    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
}