.brand {
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25rem;
    padding-bottom: var(--top);
  }

  &__item {
    position: sticky;
    top: 9vh;
    display: flex;
    align-items: center;
    padding: 9rem 3.7rem;
    transform: translateY(var(--top));
    transform-origin: top;
    border-radius: 5rem;
    background: linear-gradient(150.6deg, var(--color1) 25%, var(--color2) 75%);
    color: white;

    &:not(:last-child) {
      transform: translateY(var(--top)) scale(calc(0.97 + var(--scale)));
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: -6rem;
      z-index: 1;
      width: 100%;
      height: calc(100% + 6rem);
      opacity: 0;
      background-color: rgba(255, 255, 255, .5);
      transition: opacity .5s ease;
    }

    &.hide {
      &:before {
        opacity: 1;
      }
    }
  }

  &__info-box {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    position: absolute;
    left: 43rem;
    top: -6rem;
    width: 15rem;
    height: 13.4rem;
    transform: translateX(-50%);

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__sub-title {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
  }

  &__title {
    margin-bottom: 5rem;
    font-family: $despair;
    font-weight: 700;
    font-size: 7.3rem;
    line-height: 8rem;
    text-align: center;
  }

  &__text-img-box {
    width: 36.5rem;
    height: 31.2rem;
    margin-bottom: 5rem;
    margin-left: -8rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__info-desc-box {
  }

  &__desc {
    display: flex;
    align-items: center;
    gap: 1rem;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    p {
      &:first-child {
        min-width: 8rem;
        font-size: 2rem;
        line-height: 3rem;
      }

      &:last-child {
        font-weight: 800;
        font-size: 2.2rem;
        line-height: 3rem;
      }
    }
  }

  &__btn {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13.4rem;
    height: 13.4rem;
    margin-right: -6.7rem;
    border-radius: 100%;
    background-color: $yellow;

    > svg {
      width: 3.6rem;
      height: 3.6rem;
      transition: transform .3s ease;

      path {
        stroke: white;
      }
    }

    &:hover {
      > svg {
        transform: scale(1.3);
      }
    }
  }

  &__img-box {
    width: 73rem;
    height: 74.2rem;
    margin: -5.3rem 0;
    border-radius: 3.8rem;
    background-color: white;

    > img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      object-fit: cover;
    }
  }
}

@media (max-width: 48em) {
  .brand {
    &__container {
    }

    &__item {
      flex-direction: column;
      padding: 6rem 3rem 3rem;
      border-radius: 6rem;

      &:before {
        top: -8rem;
        height: calc(100% + 8rem);
      }
    }

    &__info-box {
      width: 100%;
      margin-bottom: 3rem;
    }

    &__logo {
      position: absolute;
      left: 50%;
      top: -6rem;
      width: 15rem;
      height: 13rem;
    }

    &__sub-title {
      font-size: 2.6rem;
      line-height: 3.8rem;
    }

    &__title {
      margin-bottom: 1rem;
      font-size: 4rem;
      line-height: 6rem;
    }

    &__text-img-box {
      width: 27.6rem;
      height: 27rem;
      margin-bottom: 1rem;
      margin-left: 0;
    }

    &__info-desc-box {
      width: 100%;
    }

    &__desc {
      font-size: 2.3rem;
      line-height: 3rem;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      p {

        &:first-child {
          min-width: 13rem;
          font-size: 2.3rem;
          line-height: 3rem;
        }

        &:last-child {
          font-size: 2.3rem;
          line-height: 3rem;
        }
      }
    }

    &__btn {
      width: 10rem;
      height: 10rem;
      margin-right: 0;
      margin-bottom: -5rem;

      > svg {
        width: 4.2rem;
        height: 4.2rem;
      }
    }

    &__img-box {
      width: calc(100% + 2rem);
      height: 40rem;
      margin: 0;
      border-radius: 6rem;
    }
  }
}