.brand-info {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8rem 10rem;
    border-radius: 5rem;
    background: linear-gradient(150.6deg, #34C47F 17.12%, #3FCC88 82.24%);
  }

  &__text-box {
    width: 83rem;
    color: white;
  }

  &__title {
    margin-bottom: 4rem;
    font-family: $despair;
    font-weight: 700;
    font-size: 7.3rem;
    line-height: 10.2rem;
  }

  &__text {
    font-size: 2rem;
    line-height: 3rem;
  }

  &__img-box {
    width: 50rem;
    height: 44rem;
    margin: -4rem 0;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 48em) {
  .brand-info {
    &__content {
      display: block;
      padding: 8rem 4rem 4rem 4rem;
      border-radius: 10rem;
    }

    &__text-box {
      width: 100%;
    }

    &__title {
      font-size: 6rem;
      line-height: 8.4rem;
    }

    &__text {
      font-size: 4rem;
      line-height: 6rem;
    }

    &__img-box {
      width: 100%;
      height: 32rem;
      margin: 2rem 0 0 0;
    }
  }
}