.filter {
	margin-bottom: 6.5rem;
	&__toggle {
		position: relative;
		display: none;
		width: 100%;
		max-width: 42.4rem;
		height: 11rem;
		margin: 4rem auto 0;
		font-family: $despair;

		.show_text,
		.hide_text {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			transition: 500ms;
		}

		.hide_text {
			opacity: 0;
		}

		.icon {
			position: absolute;
			top: 0;
			right: 0;
			width: 11rem;
			height: 11rem;
			border-radius: 1000px;
			background: #EFEFF5;
			user-select: none;
			transition: 500ms;

			&::after {
				content: "";
				position: absolute;
				top: 3.9rem;
				right: 4.3rem;
				transform: rotate(-45deg);
				width: 2.5rem;
				height: 2.5rem;
				border: 0.4rem solid #484A5D;
				border-top: none;
				border-right: none;
			}
		}

		&.active {
			
			.hide_text {
				opacity: 1;
			}
			.show_text {
				opacity: 0;
			}
			.icon {
				transform: rotate(180deg);
			}
		}

	}
}

.checkboxes {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
	margin-bottom: 3rem;
	font-family: $despair;
}

.checkbox {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 3.4rem;
	background: #F4F4FC;
	border-radius: 1000px;
	transition: 300ms;
	cursor: pointer;
	user-select: none;

	&__text {
		position: relative;
		z-index: 2;
	}

	&__bg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 1000px;
		opacity: 0;
		background: linear-gradient(351.73deg, #28C479 -5.34%, #3FCC88 93.11%);
		box-shadow: 1rem 1.5rem 4rem rgba(198, 255, 231, 0.5);
		transition: opacity 300ms;
		z-index: 1;
	}

	input:checked {
		~.checkbox {
			&__text {
				color: #fff;
			}

			&__bg {
				opacity: 1;
			}
		}
	}

}

.selects {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 2.3rem;
}

.select {
	&__title {
		margin-bottom: 1.5rem;
		font-family: $despair;
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 3.4rem;
	}
}



@media (max-width: 48em) {

	.filter {
		&__form {
			display: none;
		}
		&__toggle {
			display: block;
		}
	}

	.selects,
	.checkboxes {
		grid-template-columns: repeat(1, 1fr);
		gap: 4rem;
	}

	
	.checkboxes {
		margin-bottom: 8rem;
	}

	.checkbox {
		font-size: 3.6rem;
		line-height: 5rem;
	}

	.selects {
		gap: 4.35rem;
	}
	.select {

		&__title {
			margin-bottom: 2.5rem;
			padding-left: 1rem;
			font-size: 3.6rem;
			line-height: 5rem;
		}
	}
}