
.licenses .section__title {
    margin-bottom: 4.6rem;
}

.licenses .photo__slide {
    height: 51.9rem;
    padding: 2rem;
    background: #EFEFF5;
    border-radius: 6rem;
}


@media (max-width: 48em) {
    .licenses {
        margin-bottom: 18.6rem;
    }
}