.main-intro {
  &__slider {
    position: relative;
    display: flex;
    height: 90rem;
    border-radius: 5rem 0 5rem 5rem;
    background: linear-gradient(352.65deg, #28C479 -6.14%, #3FCC88 93.74%);
  }

  &__slide {
    padding: 10rem 10rem 6rem 6rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__icon-box {
    position: absolute;
    left: 3.2rem;
    top: 3.2rem;
    display: flex;
    align-items: center;
    width: 20rem;
    font-family: $despair;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.1rem;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: white;
  }

  &__icon {
    flex: none;
    position: relative;
    width: 6.2rem;
    height: 6.2rem;
    margin-right: 1.6rem;
  }

  &__icon-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform .25s ease;
  }

  &__icon-star {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2rem;
    height: 2rem;
    transform: translate(-50%, -50%);
  }

  &__slider-nav {
    flex: none;
    display: flex;
    flex-direction: column;
    width: 16rem;
  }

  &__pagination-box {
    position: relative;
    flex: auto;
    height: 1rem;
    padding-bottom: 5rem;
    border-radius: 0 0 0 5rem;
    background-color: white;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: 10rem;
      height: 10rem;
      transform: translateY(100%);
      border-radius: 0 5rem 0 0;
      box-shadow: 2rem -2rem 0 1.4rem white;
    }

    &:after {
      content: '';
      position: absolute;
      left: 1px;
      top: 0;
      z-index: -1;
      width: 10rem;
      height: 10rem;
      transform: translateX(-100%);
      border-radius: 0 5rem 0 0;
      box-shadow: 5rem -5rem 0 4rem white;
    }
  }

  &__pagination {
    flex: auto;
    position: relative;
    height: 100%;
    width: calc(100% + 3rem);
    padding: 2rem 0 2rem 5rem;
    margin: 0 0 -0 -3rem;

    > .swiper-wrapper {
      position: relative;
    }
  }

  &__pagination-icon {
    position: absolute;
    top: -0.5rem;
    right: 0;
    width: 14rem;
    height: 14rem;
    transform: translateY(var(--pos));
    border-radius: 3rem;
    transition: transform .25s ease;

    > img {
      position: absolute;
      left: -4.1rem;
      top: 50%;
      z-index: -2;
      transform: translateY(-50%);
      width: 5rem;
      height: 10.6rem;
    }

    &:before {
      content: '';
      position: absolute;
      left: -3rem;
      top: 50%;
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      transform: translateY(-50%);
      background-color: #F8BD08;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background-color: #37C983;
    }
  }

  &__pagination-num {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    cursor: pointer;
    font-family: $despair;
    font-size: 3rem;
    color: #AAAFB6;
    transition: font-size .25s ease, color .25s ease;
    user-select: none;

    &:hover {
      color: $black;
    }

    &.swiper-slide-thumb-active {
      font-size: 5rem;
      color: white;
    }
  }

  &__arrows {
    flex: none;
    width: fit-content;
    padding: 3.5rem 2.8rem 3.5rem 0;
    margin-left: auto;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.2rem;
    height: 8.2rem;
    border-radius: 100%;
    background-color: #FFCE51;

    &.prev {
      margin-bottom: 1.2rem;
    }

    > svg {
      width: 2rem;
      height: 1.2rem;
      transition: transform .3s ease;

      path {
        stroke: white;
      }
    }

    &:hover {
      > svg {
        transform: scale(1.4);
      }
    }
  }
}

@media (max-width: 48em) {
  .main-intro {
    &__slider {
      display: block;
      height: auto;
      border-radius: 6rem 6rem 6rem 0;

      > .swiper-wrapper {
        height: 75rem;
      }
    }

    &__slide {
      padding: 20rem 2rem 16rem 2rem;
    }

    &__icon-box {
      left: 4rem;
      top: 4rem;
      width: 40rem;
      font-size: 3rem;
      line-height: 4.2rem;
    }

    &__icon {
      width: 11rem;
      height: 11rem;
      margin-right: 3rem;
    }

    &__icon-bg {
    }

    &__icon-star {
      width: 3.4rem;
      height: 3.4rem;
    }

    &__slider-nav {
      flex-direction: row;
      width: 100%;
    }

    &__pagination-box {
      width: 21rem;
      height: 15.6rem;
      padding: 0;
      border-radius: 0 6rem 0 0;

      &:before {
        transform: translateX(100%);
        border-radius: 0 0 0 6rem;
        box-shadow: -2rem 2rem 0 1.4rem white;
      }

      &:after {
        left: 0;
        transform: translateY(-100%);
        border-radius: 0 0 0 6rem;
        box-shadow: -5rem 5rem 0 4rem white;
      }
    }

    &__pagination {
      flex: auto;
      height: calc(100% + 3rem);
      width: auto;
      padding: 5.4rem 0 0 0;
      margin: -3rem 1.4rem 0 1.4rem;
      border-radius: 4rem;
    }

    &__pagination-icon {
      position: absolute;
      right: auto;
      top: auto;
      left: 0;
      bottom: 0;
      width: 13rem;
      height: 13rem;
      transform: translateX(var(--pos));
      border-radius: 4rem;

      > img {
          left: 50%;
          top: 3.3rem;
          z-index: -2;
          width: 7rem;
          height: 10rem;
          transform: translate(-50%, -100%) rotate(90deg);
      }

      &:before {
        left: 50%;
        top: -3.8rem;
        width: 1rem;
        height: 1rem;
        transform: translateX(-50%);
      }

      &:after {
        box-shadow: 1rem -1rem 5.6rem rgba(68, 199, 97, 0.25);
      }
    }

    &__pagination-num {
      border-radius: 4rem;
      transition: font-size .15s ease, color .15s ease;

      &.swiper-slide-thumb-active {
        font-size: 4rem;
      }
    }

    &__arrows {
      position: relative;
      z-index: 5;
      isolation: isolate;
      flex: none;
      display: flex;
      padding: 2rem;
    }

    &__arrow {
      width: 11rem;
      height: 11rem;

      &.prev {
        margin-bottom: 0;
        margin-right: 1.2rem;
      }

      > svg {
        width: 1.8rem;
        height: 3.4rem;
      }
    }
  }
}