.marketplaces {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3.8rem 2rem;
}

.marketplace {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 54.3rem;
	min-height: 29rem;
	background: linear-gradient(352.65deg, #28C479 -6.14%, #3FCC88 93.74%);
	border-radius: 5.7rem;

	&__btn {
		position: absolute;
		bottom: 0;
		right: 8.2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20rem;
		height: 6rem;

		svg {
			display: block;
		}

		&::after {
			content: '';
			position: absolute;
			top: 1rem;
			left: 1rem;
			width: 20rem;
			height: 6rem;
			display: block;
			background: url(../img/bg/button_figure.svg) no-repeat 100% / contain;
		}
	}
}