.video-slider {
  &__title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 5.2rem;
  }

  &__title {
    font-family: $despair;
    font-weight: 700;
    font-size: 7.3rem;
    line-height: 10rem;
  }

  &__slider {
  }

  &__slider-nav {
    margin-top: 4.5rem;
  }
}

@media (min-width: 48.01em) {
  .video-slider {
    .video {
      &__item {
        width: 82.4rem;
      }

      &__img-wrap {
        height: 44.5rem;
      }

      &__item-title {
        font-size: 3rem;
        line-height: 4.2rem;
      }
    }
  }
}

@media (max-width: 48em) {
  .video-slider {
    .link {
      margin-top: 6rem;
    }

    &__title-box {
      margin-bottom: 7rem;
    }

    &__title {
      font-size: 6rem;
      line-height: 8.4rem;
    }

    &__slider {
    }

    &__slider-nav {
    }
  }
}