@import "param";
@import "set";
@import "components";

@import "header";
@import "footer";
@import "main-intro";
@import "brand";
@import "news";
@import "video";
@import "catalog-slider";
@import "video-slider";
@import "news-slider";
@import "modal";
@import "news-page";
@import "product-info";
@import "contacts";
@import "about-intro";
@import "advantages";
@import "delivery";
@import "career";
@import "product";
@import "article";
@import "brand-info";
@import "modal-buy";
@import "catalog-intro";
@import "catalog";
@import "links";
@import "category";
@import "photo";
@import "seo";
@import "info-links";

@import "production";
@import "presentation";

@import "brand_history";
@import "brifly";
@import "collaboration";
@import "conditions";
@import "features";
@import "licenses";
@import "options";
@import "stages";
@import "support";
@import "terms";



body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}

@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}