@font-face {
    font-family: 'Circe';
    src: local('Circe Extra Bold'), local('Circe-ExtraBold'),
        url('Circe-ExtraBold.woff2') format('woff2'),
        url('Circe-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: local('Circe'), local('Circe-Regular'),
        url('Circe-Regular.woff2') format('woff2'),
        url('Circe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: local('Circe Bold'), local('Circe-Bold'),
        url('Circe-Bold.woff2') format('woff2'),
        url('Circe-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Despair Display';
    src: url('subset-DespairDisplay-Bold.woff2') format('woff2'),
    url('subset-DespairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}